{% extends 'mainpage/base.html' %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        <h1>My Postings</h1>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-10">
    {% if postings %}
        <div class="list-group">
            {% for post in postings %}
                <a href="{% url 'viewposting' post.pk %}" class="list-group-item">
                  <b>{{ post.StreetAddress }}</b>
                  <br>
                  <b>${{ post.Rent }} per Month</b>
                  <br>
                  <b>{{ post.NumberOfBedrooms }} Bed, {{ post.NumberOfBathrooms}} Bath</b>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center">
            <h2>You don't have any postings.</h2>
        <br>
        <a role="button" class="btn btn-primary" href="{% url 'createposting' %}">Create Posting</a>
        </div>
    {% endif %}
    </div>
</div>

{% endblock %}
